In [30]:
# Import libraries
import pandas as pd
import sys
from sqlalchemy import Column, Float, Date, MetaData, Table, NVARCHAR, Integer, create_engine
#import sqlalchemy
import pyodbc
import pandas.io.sql
#from HelperModules.sql_server_wrapper import sql_server_conn

In [31]:
print('Python version ' + sys.version)
print('Pandas version ' + pd.__version__)

Python version 3.4.3 |Anaconda 2.3.0 (64-bit)| (default, Mar  6 2015, 12:06:10) [MSC v.1600 64 bit (AMD64)]
Pandas version 0.16.2

In [32]:
def sql_server_conn(server, database):

    from sqlalchemy import create_engine

    conn_string = "mssql+pymssql://" + server + "/" + database
    engine = create_engine(conn_string)
    conn = engine.connect()

    return engine, conn

In [33]:
DB = {
    'drivername': 'mssql+pyodbc',
    'servername': '192.168.1.52',
    #'port': '5432',
    #'username': 'lynn',
    #'password': '',
    'database': 'naturex',
    'driver': 'SQL Server Native Client 11.0',
    'trusted_connection': 'yes',  
    'legacy_schema_aliasing': False
}

#TableName = "data"

In [34]:
# Parameters
#server = '192.168.1.52'
#db = 'naturex'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] + ';DATABASE=' + DB['database'] + ';Trusted_Connection=yes')

# query db
sql = """

SELECT top 5 *
FROM dbo.raw_base_0217

"""
df = pandas.io.sql.read_sql(sql, conn)
df.head()

,Customer Type,Customer Distribution Channel,Customer Distribution Sub-channel,Customer Group Or Name,Customer Name,Customer Code,Ship To Country,Ship to State,Ship To City,Ship To Zip Code,...,Sales Agreement Currency,Sales Agreement Incoterm Name,Sales Agreement Country Zone,Sales Agreement Country Group,Sales Agreement Country Name,Company Code,Company Name,Invoice Incoterm,YearMonth,ID
0,Direct,Direct Customer,Customer,KERVAN GIDA SAN. VE TIC. A.S.,KERVAN GIDA SAN. VE TIC. A.S.,O411136,TURKEY,None,BEYLIKDUZU ISTANBUL,34524,...,EUR,EXW,EMEA,EUROPE (OTHER COUNTRIES),TURKEY,OO,Naturex Ltd,EXW,None,1
1,Direct,Direct Customer,Customer,R & R ICE CREAM (Leeming) UK LTD,R & R ICE CREAM (Leeming) UK LTD,O411026,U.K.,None,"NORTHALLERTON, North Yorkshire",DL7 9UL,...,GBP,DDP,EMEA,EUROPEAN UNION,U.K.,OO,Naturex Ltd,DDP,None,4
2,Direct,Direct Customer,Customer,R & R ICE CREAM (Leeming) UK LTD,R & R ICE CREAM (Leeming) UK LTD,O411026,U.K.,None,"NORTHALLERTON, North Yorkshire",DL7 9UL,...,GBP,DDP,EMEA,EUROPEAN UNION,U.K.,OO,Naturex Ltd,DDP,None,5
3,Direct,Direct Customer,Customer,R & R ICE CREAM (Leeming) UK LTD,R & R ICE CREAM (Leeming) UK LTD,O411026,U.K.,None,"NORTHALLERTON, North Yorkshire",DL7 9UL,...,GBP,DDP,EMEA,EUROPEAN UNION,U.K.,OO,Naturex Ltd,DDP,None,6
4,Direct,Direct Customer,Customer,R & R ICE CREAM (Leeming) UK LTD,R & R ICE CREAM (Leeming) UK LTD,O411026,U.K.,None,"NORTHALLERTON, North Yorkshire",DL7 9UL,...,GBP,DDP,EMEA,EUROPEAN UNION,U.K.,OO,Naturex Ltd,DDP,None,8

In [26]:
df.shape

(5, 81)

In [25]:
#engine = sqlalchemy.create_engine(
#               "mssql+pyodbc://PMSI-CONSULTING\aurquhart:Rangers1986@192.168.1.52/naturex",
#               echo=False)

In [16]:
#engine, conn = sql_server_conn(server=config['sql']['server'], database=config['sql']['dev']['database'])

In [24]:
#Now going to try and write this back to sql
#df.to_sql('test_import', conn, if_exists='append', index=False, schema='dbo')

In [35]:
    # Connect to SQL server
    engine, conn = sql_server_conn(server='192.168.1.52', database='naturex')

In [37]:
   df.to_sql('test_table', engine,
                     if_exists='append', index=False, schema='dbo')