In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#create dummy data
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
         'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [4]:
#convert to dataframe
df = pd.DataFrame(d)
df

   one  two
a    1    1
b    2    2
c    3    3
d  NaN    4

In [8]:
conn_string = "mssql+pymssql://" + '192.168.1.52' + "/" + 'naturex'
engine = create_engine(conn_string)
conn = engine.connect()

In [9]:
   df.to_sql('test_table2', engine,
                     if_exists='append', index=False, schema='dbo')